@import url('https://fonts.google.com/specimen/Exo');

* {
    margin: 0; /* Supprime les marges par défaut de tous les éléments */
    padding: 0; /* Supprime les espacements internes par défaut de tous les éléments */
    box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur et la hauteur des éléments */
}

body{
    font-family: 'Exo', sans-serif;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-s{
    width: 100%;
}

.col-s img{
    width: 20%;
    margin-left: -260px;
    margin-top: -60px;
}

h1{
    text-align: center;
    font-family: 'Exo', sans-serif;
    margin-top: 20px;
}

header{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    flex-direction: column; 
    background-color: rgb(157, 122, 223);
    width: 100%;
}

nav ul {
    display: flex; 
    justify-content: center; 
    list-style: none; 
}

nav ul li {
	margin: 0 2rem; 
    margin-bottom: 10px;
}


nav ul li a {
    color: rgb(226, 221, 221); 
    text-decoration: none; 
    font-size: 1rem;
    font-weight: bold;
}

footer{
    margin-top: 30px;
    background-color:rgb(157, 122, 223);
    padding: 20px;
    text-align: center;
}